{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="jumbotron">
	<h1 class="display-4">Newspaper App</h1>
	<p class="lead">A Newspaper website built with Django</p>
	<p class="lead">
		<a href="{% url 'article_list' %}" class="btn btn-primary btn-lg" role="button">View All Articles</a>
	</p>
</div>
{% if user.is_authenticated %}
	Hi {{ user.username }}
	<p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Login</a>
	<a href="{% url 'signup' %}">Signup</a>
{% endif %}
{% endblock content %}